@model Gases.Models.Gase
@using Gases.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Details"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Необходимые параметры для анализа парниковых газов в атмосфере</h2>

<div>
    <h4>@SharedLocalizer["Gase"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Formula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Formula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

@{
    int a2 = Model.Id;
}
<div>
    <form asp-action="DataSelection">
        <div class="form-group">
            <label for="GDataTypeId" style="display:block;" class="control-label">@SharedLocalizer["GDataType"]</label>
            <select id="GDataTypeId" name="GDataTypeId" class="form-control" style="width:auto; display:inline-block;" asp-items="ViewBag.GDataTypeId"></select>
            <div hidden="hidden">
                <input id="GaseId" name="GaseId" value="@Model.Id" />
            </div>
            <input class="btn btn-default" type="submit" value="@SharedLocalizer["Next"]"/>
        </div>
    </form>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@SharedLocalizer["Edit"]</a> |
    <a asp-action="Index">@SharedLocalizer["BackToList"]</a>
</div>