@model Gases.Models.Layer
@using Gases.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Details"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@SharedLocalizer["Details"]</h2>

<div>
    <h4>@SharedLocalizer["Layer"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GeoServerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GeoServerName)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.FileNameWithPath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileNameWithPath)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.GeoServerStyle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GeoServerStyle)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.NameKK)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameKK)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NameRU)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameRU)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NameEN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameEN)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.VerticalSlice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VerticalSlice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GDataType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GDataType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gase)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gase.Name)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">@SharedLocalizer["Edit"]</a> |*@
    <a asp-action="Index">@SharedLocalizer["BackToList"]</a>
</div>
